Repository vyes/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt

fixup! zbx: ZBX commits go here
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_constants.hpp
  host/lib/usrp/dboard/zbx/zbx_cpld_ctrl.cpp
  host/lib/usrp/dboard/zbx/zbx_dboard_init.cpp
  host/lib/usrp/dboard/zbx/zbx_expert.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fixup! zbx: ZBX commits go here
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_constants.hpp
  host/lib/rc/CMakeLists.txt
  host/lib/rc/cal/x4xx_pwr_4002_rx_0_rx1.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_0_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_1_rx1.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_1_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_2_rx1.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_2_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_3_rx1.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_3_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4002_tx_0_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4002_tx_1_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4002_tx_2_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4002_tx_3_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_0_rx1.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_0_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_1_rx1.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_1_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_2_rx1.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_2_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_3_rx1.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_3_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4003_tx_0_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4003_tx_1_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4003_tx_2_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4003_tx_3_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_mock_rx_0_rx1.cal
  host/lib/rc/cal/x4xx_pwr_mock_rx_1_rx1.cal
  host/lib/rc/cal/x4xx_pwr_mock_tx_0_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_mock_tx_1_tx+rx0.cal
  host/lib/usrp/dboard/zbx/zbx_cpld_ctrl.cpp
  host/lib/usrp/dboard/zbx/zbx_dboard_init.cpp
  host/lib/usrp/dboard/zbx/zbx_expert.cpp
  host/tests/zbx_cpld_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fixup! zbx: ZBX commits go here
  host/lib/usrp/dboard/zbx/zbx_dboard_init.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fixup! x4xx: x4xx commits go here
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml

fixup! x4xx: x4xx commits go here
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml

fixup! fpga: x400: motherboard register map
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
Due: none

fixup! fpga: nitools: x400: initial support
  fpga/nitools/x400/mb_cpld/replace_HDL_header.py
Due: none

fixup! fpga: x400: cpld: support for x410 motherboard cpld
  fpga/usrp3/top/x400/cpld/ctrlport_to_jtag.v
  fpga/usrp3/top/x400/cpld/ctrlport_to_spi.v
  fpga/usrp3/top/x400/cpld/ip/cmi/PcieCmi.vhd
  fpga/usrp3/top/x400/cpld/ip/cmi/PcieCmiWrapper.vhd
  fpga/usrp3/top/x400/cpld/mb_cpld.v
  fpga/usrp3/top/x400/cpld/pl_cpld_regs.v
  fpga/usrp3/top/x400/cpld/ps_cpld_regs.v
  fpga/usrp3/top/x400/cpld/ps_power_regs.v
  fpga/usrp3/top/x400/cpld/pwr_supply_clk_gen.v
  fpga/usrp3/top/x400/cpld/reconfig_engine.v
  fpga/usrp3/top/x400/cpld/reset_generator.v
  fpga/usrp3/top/x400/cpld/spi_slave.v
  fpga/usrp3/top/x400/cpld/spi_slave_to_ctrlport_master.v
Due: none

fixup! fixup! zbx: ZBX commits go here
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_constants.hpp
  host/lib/rc/CMakeLists.txt
  host/lib/rc/cal/x4xx_pwr_4002_rx_0_rx2.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_0_tx+rx.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_1_rx2.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_1_tx+rx.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_2_rx2.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_2_tx+rx.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_3_rx2.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_3_tx+rx.cal
  host/lib/rc/cal/x4xx_pwr_4002_tx_0_tx+rx.cal
  host/lib/rc/cal/x4xx_pwr_4002_tx_1_tx+rx.cal
  host/lib/rc/cal/x4xx_pwr_4002_tx_2_tx+rx.cal
  host/lib/rc/cal/x4xx_pwr_4002_tx_3_tx+rx.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_0_rx2.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_0_tx+rx.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_1_rx2.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_1_tx+rx.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_2_rx2.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_2_tx+rx.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_3_rx2.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_3_tx+rx.cal
  host/lib/rc/cal/x4xx_pwr_4003_tx_0_tx+rx.cal
  host/lib/rc/cal/x4xx_pwr_4003_tx_1_tx+rx.cal
  host/lib/rc/cal/x4xx_pwr_4003_tx_2_tx+rx.cal
  host/lib/rc/cal/x4xx_pwr_4003_tx_3_tx+rx.cal
  host/lib/rc/cal/x4xx_pwr_mock_rx_0_rx2.cal
  host/lib/rc/cal/x4xx_pwr_mock_rx_1_rx2.cal
  host/lib/rc/cal/x4xx_pwr_mock_tx_0_tx+rx.cal
  host/lib/rc/cal/x4xx_pwr_mock_tx_1_tx+rx.cal
  host/lib/usrp/dboard/zbx/zbx_cpld_ctrl.cpp
  host/lib/usrp/dboard/zbx/zbx_dboard_init.cpp
  host/lib/usrp/dboard/zbx/zbx_expert.cpp
  host/tests/zbx_cpld_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fixup! zbx: ZBX commits go here
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_constants.hpp
  host/lib/rc/CMakeLists.txt
  host/lib/rc/cal/x4xx_pwr_4002_rx_0_rx1.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_0_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_1_rx1.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_1_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_2_rx1.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_2_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_3_rx1.cal
  host/lib/rc/cal/x4xx_pwr_4002_rx_3_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4002_tx_0_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4002_tx_1_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4002_tx_2_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4002_tx_3_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_0_rx1.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_0_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_1_rx1.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_1_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_2_rx1.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_2_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_3_rx1.cal
  host/lib/rc/cal/x4xx_pwr_4003_rx_3_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4003_tx_0_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4003_tx_1_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4003_tx_2_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_4003_tx_3_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_mock_rx_0_rx1.cal
  host/lib/rc/cal/x4xx_pwr_mock_rx_1_rx1.cal
  host/lib/rc/cal/x4xx_pwr_mock_tx_0_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_mock_tx_1_tx+rx0.cal
  host/lib/usrp/dboard/zbx/zbx_cpld_ctrl.cpp
  host/lib/usrp/dboard/zbx/zbx_dboard_init.cpp
  host/lib/usrp/dboard/zbx/zbx_expert.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fixup! fixup! zbx: ZBX commits go here
  host/lib/usrp/dboard/zbx/zbx_dboard_init.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fixup! x4xx: x4xx commits go here
  mpm/python/usrp_mpm/dboard_manager/zirconium_update_cpld.py
  mpm/python/usrp_mpm/periph_manager/x4xx_update_cpld.py
Due: .ci/oe-x4xx-packages.yml

DPDK21.11
  host/CMakeLists.txt
  host/build/debug.sh
  host/examples/CMakeLists.txt
  host/examples/rfnoc_dpdk_rx_to_gpu.cpp
  host/lib/CMakeLists.txt
  host/lib/include/uhdlib/transport/dpdk/udp.hpp
  host/lib/include/uhdlib/transport/dpdk_io_service_client.hpp
  host/lib/include/uhdlib/transport/rx_streamer_impl.hpp
  host/lib/transport/dpdk_simple.cpp
  host/lib/transport/udp_dpdk_link.cpp
  host/lib/transport/uhd-dpdk/dpdk_common.cpp
  host/lib/transport/uhd-dpdk/dpdk_io_service.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

at least it works :boom:
  host/CMakeLists.txt
  host/cmake/Modules/FindCUDA.cmake
  host/examples/CMakeLists.txt
  host/examples/rfnoc_dpdk_rx_to_gpu.cpp
  host/include/uhd/rfnoc_graph.hpp
  host/include/uhd/transport/frame_buff.hpp
  host/lib/include/uhdlib/rfnoc/chdr_rx_data_xport.hpp
  host/lib/include/uhdlib/rfnoc/graph.hpp
  host/lib/include/uhdlib/rfnoc/rx_flow_ctrl_state.hpp
  host/lib/include/uhdlib/transport/dpdk/common.hpp
  host/lib/include/uhdlib/transport/dpdk_io_service_client.hpp
  host/lib/include/uhdlib/transport/get_aligned_buffs.hpp
  host/lib/include/uhdlib/transport/rx_streamer_impl.hpp
  host/lib/include/uhdlib/transport/udp_dpdk_link.hpp
  host/lib/include/uhdlib/usrp/common/dpdk_io_service_mgr.hpp
  host/lib/include/uhdlib/usrp/common/io_service_mgr.hpp
  host/lib/rfnoc/graph.cpp
  host/lib/rfnoc/rfnoc_graph.cpp
  host/lib/transport/udp_dpdk_link.cpp
  host/lib/transport/udp_simple.cpp
  host/lib/transport/uhd-dpdk/dpdk_common.cpp
  host/lib/transport/uhd-dpdk/dpdk_io_service.cpp
  host/lib/usrp/common/io_service_mgr.cpp
  host/lib/usrp/mpmd/mpmd_mb_iface.cpp
  host/lib/usrp/x300/x300_eth_mgr.cpp
  host/lib/usrp/x300/x300_mb_iface.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

DPDK-22.03
  host/lib/transport/uhd-dpdk/dpdk_common.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml
