Repository vyes/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

.ci/oe-for-host.yml:
  jobs:
  - job: build
    timeoutInMinutes: 600
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        qemux86-64: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    variables:
      MENDER_ARTIFACT_NAME: $(Build.BuildNumber)_$(System.JobName)
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - job: Build_OE_packages
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        x4xx-rev2: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    steps:
    - script: env
      displayName: Print environment
  ...

fpga: lib: Add modports to SV AXI-Stream blocks
  fpga/usrp3/lib/axi4s_sv/axi4s_add_bytes.sv
  fpga/usrp3/lib/axi4s_sv/axi4s_fifo.sv
  fpga/usrp3/lib/axi4s_sv/axi4s_remove_bytes.sv
  fpga/usrp3/lib/axi4s_sv/axi4s_width_conv.sv
Due: none

fixup! fpga: x400: support for x410 motherboard fpga
  fpga/usrp3/top/x400/rf/200m/rf_down_4to2.v
  fpga/usrp3/top/x400/rf/200m/rf_up_2to4.v
Due: none

fixup! x4xx: x4xx commits go here
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml

fixup! fpga: x400: support for x410 motherboard fpga
  fpga/usrp3/top/x400/constraints/pins/common.xdc
  fpga/usrp3/top/x400/constraints/pins/dram.xdc
  fpga/usrp3/top/x400/constraints/pins/ipass.xdc
  fpga/usrp3/top/x400/constraints/pins/qsfp0_0.xdc
  fpga/usrp3/top/x400/constraints/pins/qsfp0_1.xdc
  fpga/usrp3/top/x400/constraints/pins/qsfp0_2.xdc
  fpga/usrp3/top/x400/constraints/pins/qsfp0_3.xdc
  fpga/usrp3/top/x400/constraints/pins/qsfp1_0.xdc
  fpga/usrp3/top/x400/constraints/pins/qsfp1_1.xdc
  fpga/usrp3/top/x400/constraints/pins/qsfp1_2.xdc
  fpga/usrp3/top/x400/constraints/pins/qsfp1_3.xdc
  fpga/usrp3/top/x400/constraints/pins/rfdc_2x2.xdc
  fpga/usrp3/top/x400/constraints/timing/common.xdc
  fpga/usrp3/top/x400/constraints/timing/dram.xdc
  fpga/usrp3/top/x400/constraints/timing/qsfp_10gbe.xdc
  fpga/usrp3/top/x400/constraints/timing/shared_constants.sdc
  fpga/usrp3/top/x400/regmap/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/x4xx.v
Due: none

fixup! fpga: nitools: x400: initial support
  fpga/nitools/x400/fpga/sim/regmap/PkgVERSIONING_REGS_REGMAP.vhd
  fpga/nitools/x400/fpga/sim/tb_x4xx.vhd
Due: none

fixup! fpga: x400: motherboard register map
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
Due: none

fixup! x4xx: x4xx commits go here
  mpm/lib/rfdc/rfdc_ctrl.cpp
  mpm/lib/rfdc/rfdc_throw.cpp
Due: .ci/oe-x4xx-packages.yml

fixup! x4xx: x4xx commits go here
  mpm/include/mpm/rfdc/rfdc_ctrl.hpp
  mpm/lib/rfdc/rfdc_ctrl.cpp
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml

fixup! x4xx: x4xx commits go here
  mpm/python/usrp_mpm/dboard_manager/zbx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
Due: .ci/oe-x4xx-packages.yml

fixup! fixup! x4xx: x4xx commits go here
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
Due: .ci/oe-x4xx-packages.yml

fixup! x4xx: x4xx commits go here
  fpga/docs/usrp3/build_instructions.md
  fpga/docs/usrp3/vivado_env_utils.md
  host/docs/devices.dox
  host/docs/res/ZBX_simplified_blockdiagram.svg
  host/docs/res/x410.png
  host/docs/res/x410_back_panel.png
  host/docs/res/x410_front_panel.png
  host/docs/res/x4xx_block_diagram.svg
  host/docs/res/x4xx_rearpanel_status_leds.png
  host/docs/usrp_x4xx.dox
  host/docs/zbx.dox
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_constants.hpp
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fixup! fpga: x400: support for x410 motherboard fpga
  fpga/usrp3/top/x400/x4xx_core_common.v
  fpga/usrp3/top/x400/x4xx_global_regs.v
Due: none

mpm: check-filesystem: liberalize version check
  mpm/python/usrp_mpm/sys_utils/filesystem_status.py
  mpm/tools/check-filesystem
Due: .ci/oe-x4xx-packages.yml

fixup! fpga: x400: support for x410 motherboard fpga
  fpga/usrp3/top/x400/x4xx.sv
  fpga/usrp3/top/x400/x4xx.v
  fpga/usrp3/top/x400/x4xx_core.v
Due: none

mpm: mg: periphs: Read lowband lo lock status from cpld
  mpm/python/usrp_mpm/dboard_manager/mg_periphs.py
Due: .ci/oe-x4xx-packages.yml

fixup! x4xx: x4xx commits go here
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
Due: .ci/oe-x4xx-packages.yml

fixup! x4xx: x4xx commits go here
  mpm/python/usrp_mpm/periph_manager/CMakeLists.txt
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_mb_cpld.py
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
Due: .ci/oe-x4xx-packages.yml

fixup! fpga: x400: support for x410 motherboard fpga
  fpga/usrp3/top/x400/rf/100m/adc_3_1_clk_converter.vhd
  fpga/usrp3/top/x400/rf/100m/adc_gearbox_2x1.v
  fpga/usrp3/top/x400/rf/100m/dac_1_3_clk_converter.vhd
  fpga/usrp3/top/x400/rf/100m/dac_2_1_clk_converter.vhd
  fpga/usrp3/top/x400/rf/100m/ddc_saturate.vhd
  fpga/usrp3/top/x400/rf/100m/duc_saturate.vhd
  fpga/usrp3/top/x400/rf/100m/rf_core_100m.v
  fpga/usrp3/top/x400/rf/200m/rf_core_200m.v
  fpga/usrp3/top/x400/rf/200m/rf_down_4to2.v
  fpga/usrp3/top/x400/rf/200m/rf_up_2to4.v
  fpga/usrp3/top/x400/rf/400m/adc_gearbox_2x4.vhd
  fpga/usrp3/top/x400/rf/400m/adc_gearbox_8x4.v
  fpga/usrp3/top/x400/rf/400m/dac_gearbox_12x8.vhd
  fpga/usrp3/top/x400/rf/400m/dac_gearbox_4x2.v
  fpga/usrp3/top/x400/rf/400m/dac_gearbox_6x12.vhd
  fpga/usrp3/top/x400/rf/400m/dac_gearbox_6x8.vhd
  fpga/usrp3/top/x400/rf/400m/ddc_400m_saturate.vhd
  fpga/usrp3/top/x400/rf/400m/duc_400m_saturate.vhd
  fpga/usrp3/top/x400/rf/400m/rf_core_400m.v
Due: none

fixup! fpga: nitools: x400: initial support
  fpga/nitools/x400/fpga/vsmakesettings.xml
Due: none

fixup! zbx: ZBX commits go here
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_constants.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fixup! x4xx: x4xx commits go here
  mpm/python/usrp_mpm/periph_manager/x4xx_gps_mgr.py
Due: .ci/oe-x4xx-packages.yml

fixup! fpga: x400: support for x410 motherboard fpga
  fpga/usrp3/top/x400/cpld_interface.v
  fpga/usrp3/top/x400/ctrlport_spi_master.v
  fpga/usrp3/top/x400/ipass_present_controller.v
  fpga/usrp3/top/x400/qsfp_led_controller.v
  fpga/usrp3/top/x400/sim/x4xx_qsfp_wrapper/x4xx_qsfp_wrapper_tb.sv
  fpga/usrp3/top/x400/x4xx_dio.v
  fpga/usrp3/top/x400/x4xx_mgt_io_core.sv
  fpga/usrp3/top/x400/x4xx_pps_sync.v
  fpga/usrp3/top/x400/x4xx_qsfp_wrapper.sv
  fpga/usrp3/top/x400/x4xx_versioning_regs.v
Due: none

fpga: Update recommended header
  fpga/CODING.md
Due: none

fixup! x4xx: x4xx commits go here
  mpm/python/usrp_mpm/rpc_server.py
Due: .ci/oe-x4xx-packages.yml

fixup! fpga: x400: support for x410 motherboard fpga
  fpga/usrp3/top/x400/rf/common/PkgRf.vhd
  fpga/usrp3/top/x400/rf/common/axis_mux.vhd
  fpga/usrp3/top/x400/rf/common/capture_sysref.v
  fpga/usrp3/top/x400/rf/common/clock_gates.vhd
  fpga/usrp3/top/x400/rf/common/gpio_to_axis_mux.vhd
  fpga/usrp3/top/x400/rf/common/rf_nco_reset.vhd
  fpga/usrp3/top/x400/rf/common/rf_reset.vhd
  fpga/usrp3/top/x400/rf/common/rf_reset_controller.vhd
  fpga/usrp3/top/x400/rf/common/scale_2x.vhd
  fpga/usrp3/top/x400/rf/common/sync_wrapper.v
  fpga/usrp3/top/x400/rf/testbench/tb_rf_nco_reset.vhd
Due: none

fixup! fpga: x400: support for x410 motherboard fpga
  fpga/usrp3/top/x400/rf/testbench/tb_adc_gearbox_2x1.vhd
  fpga/usrp3/top/x400/rf/testbench/tb_adc_gearbox_2x4.vhd
  fpga/usrp3/top/x400/rf/testbench/tb_adc_gearbox_8x4.vhd
  fpga/usrp3/top/x400/rf/testbench/tb_capture_sysref.vhd
  fpga/usrp3/top/x400/rf/testbench/tb_dac_gearbox_12x8.vhd
  fpga/usrp3/top/x400/rf/testbench/tb_dac_gearbox_4x2.vhd
  fpga/usrp3/top/x400/rf/testbench/tb_dac_gearbox_6x12.vhd
  fpga/usrp3/top/x400/rf/testbench/tb_ddc_400m_saturate.vhd
  fpga/usrp3/top/x400/rf/testbench/tb_duc_400m_saturate.vhd
  fpga/usrp3/top/x400/rf/testbench/tb_rf_nco_reset.vhd
  fpga/usrp3/top/x400/rf/testbench/tb_rf_reset_controller.vhd
Due: none

fixup! x4xx: x4xx commits go here
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fixup! x4xx: x4xx commits go here
  host/lib/usrp/dboard/zbx/zbx_dboard.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fixup! x4xx: x4xx commits go here
  mpm/python/usrp_mpm/periph_manager/CMakeLists.txt
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_regs.py
Due: .ci/oe-x4xx-packages.yml

fixup! fpga: x400: support for x410 motherboard fpga
  fpga/usrp3/top/x400/cpld_interface_regs.v
  fpga/usrp3/top/x400/rfdc_timing_control.v
  fpga/usrp3/top/x400/sim/x4xx_qsfp_wrapper/x4xx_qsfp_wrapper_all_tb.sv
  fpga/usrp3/top/x400/x4xx_qsfp_wrapper.sv
  fpga/usrp3/top/x400/x4xx_qsfp_wrapper_temp.sv
Due: none

fixup! x4xx: x4xx commits go here
  mpm/python/x4xx_bist
Due: .ci/oe-x4xx-packages.yml

fixup! fpga: x400: support for x410 motherboard fpga
  fpga/usrp3/top/x400/constraints/pins/common.xdc
  fpga/usrp3/top/x400/constraints/timing/common.xdc
  fpga/usrp3/top/x400/rfdc_timing_control.v
  fpga/usrp3/top/x400/x4xx.v
  fpga/usrp3/top/x400/x4xx_qsfp_wrapper.sv
  fpga/usrp3/top/x400/x4xx_qsfp_wrapper_temp.sv
Due: none

fixup! fpga: nitools: x400: initial support
  fpga/nitools/x400/fpga/nicdc/.gitignore
  fpga/nitools/x400/fpga/nicdc/.qverify_init.tcl
  fpga/nitools/x400/fpga/nicdc/Makefile
  fpga/nitools/x400/fpga/nicdc/README.md
  fpga/nitools/x400/fpga/nicdc/directives.tcl
  fpga/nitools/x400/fpga/nicdc/exceptions.tcl
  fpga/nitools/x400/fpga/nicdc/nicdc.tcl
  fpga/nitools/x400/fpga/sim/tb_x4xx.vhd
  fpga/nitools/x400/fpga/vsmakesettings.xml
  fpga/nitools/x400/fpga/vsmakesettings_xmlparse.xml
Due: none

e31x: fix missing underscore in _eeprom_head
  mpm/python/usrp_mpm/periph_manager/e31x.py
Due: .ci/oe-x4xx-packages.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
